:root {
  --white: #ffffff;
  --grey: #ffffff7a;
  --orange: #ed5a45;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--grey);
}
.link:hover {
  color: var(--orange);
  cursor: pointer;
}

.active {
  color: var(--white);
  text-decoration: none;
}

.link-icon {
  display: flex;
}

.icon {
  padding: 3px 0 0 4px;
  font-size: 16px;
  font-weight: 700;
}
